:root {
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --gray-blue: hsl(224, 30%, 27%);
    
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    font-size: 18px;  
    font-weight: 500;  
    font-family: 'Hanken Grotesk', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   

p {
    font-size: .90rem;
}

.card {
    background-color: var(--white);
    width: 100%;    
    border-radius: 20px;
    box-shadow: 12px 18px 20px hsla(252, 84%, 60%, 10%);
}

.section {
    padding: 1.5rem;
}

.results-section {
    background-image: linear-gradient(hsl(252, 84%, 60%), hsl(241, 81%, 54%));
    border-radius: 0 0 1.75em 1.75em;
}

.title {
    font-size: 1rem;   
    font-weight: 500;
}   

.h1 {
    text-align: center;
    color: var(--light-lavender);
}

.circle {
    padding: 1em;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100%;
    text-align: center;
    width: 8em;
    height: 8em;
    margin: 1.25em auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle h2 {
    font-size: .85rem;
    font-weight: 500;
    color: hsla(241, 100%, 89%, 50%);
    margin-top: 0;
}

.circle span {
    display: block;
    color: var(--white);
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    font-style: normal;
}   

.great {
    text-align: center;
    color: var(--white);
    font-weight: 500;
    font-size: 1.35rem;
    margin-top: .25em;
    margin-bottom: 0.75em;
}

.great-desc {
    text-align: center;
    color: var(--light-lavender);
    margin: 0 auto;
    width: 30ch;
    margin-bottom: 1em;
}

.h2 {
    color: var(--gray-blue);
    margin-bottom: 1.25em;
}

.category-c {
    padding: 0.75em;
    display: flex;
    border-radius: 10px;
    margin-bottom: 1em;
}

.category-c img {
    margin-right: .50em;
}

.category-c .category {
    margin-right: auto;
}

.category-c .score {
    color: var(--gray-blue);
}

.reaction {
    background-color: hsla(0, 100%, 67%, 8%);
    color: var(--light-red);
}

.memory {
    background-color: hsla(39, 100%, 56%, 8%);
    color: var(--orangey-yellow);
}

.verbal {
    background-color: hsla(166, 100%, 37%, 8%);
    color: var(--green-teal);
}

.visual {
    background-color:hsla(234, 85%, 45%, 8%);
    color: var(--cobalt-blue);
}

.button {
    border: none;
    background-color: var(--gray-blue);
    background-image: none;
    color: var(--white);
    font-size: 0.90rem;
    font-weight: 600;
    padding: 1em 0;
    width: 100%;
    border-radius: 50px;
    margin-top: .50rem;
    cursor: pointer;
}

.button:focus, .button:hover{
    background-image: linear-gradient(hsl(252, 84%, 60%), hsl(241, 81%, 54%));
}

.button:active {
    background-image: linear-gradient(hsla(252, 84%, 60%, 50%), hsla(241, 81%, 54%, 50%));
}


@media screen and (min-width: 32em) {
    main {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        display: flex;
        max-width: 31.25em;
        margin: 0 0.50em;
    }

    .section {
        width: 50%;
    }

    .results-section {
        border-radius: 20px;
    }

    .great-desc {
        width: 25ch;
        margin-bottom: 0;
    }

    .category-c {
        padding: 0.60em;
        margin-bottom: 0.75em;
    }

    footer {
        position: absolute;
        width: 35ch;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;  
    }
    
    p, .button {
        font-size: .80em;
    }
}

.attribution { font-size: 0.68rem;}
.attribution a { color: hsl(228, 45%, 44%); }